#planet-title{
/* margin-top: -50px; */
font-family: 'Epilogue';
font-style: normal;
font-weight: 300;
font-size: 25px;
/* text-align: center; */
text-transform: uppercase;
color: #FFFFFF;
text-align: center;
}
