header {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

header img {
  width: 350px;
  height: 263.46px;
 margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  header img {
    width: 200px;
    height: 188.18px;
  }
  
}