#missoes {
  margin-top: 150px;
  background-color: #efefef17;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  width: 60%;
  /* height: 1500px; */
  justify-content: center;
  margin: 150px auto;
  align-items: center;
  gap: 15px;
  padding: 16px;
  border-radius: 20px;
}

.card-container2 {
  border: 1px #efefef solid;
  display: flex;
  flex-flow: column;
  width: 300px;
  height: 192px;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  background-image: url('../../images/background.png') !important;
}


  .card-container2 > p:first-child {
    color: rgb(16, 247, 208);
    text-transform: uppercase;
    font-weight: bold;
    align-self: initial;
    margin-bottom: 25px;
  }


#missoes h2 {
  margin-top: 30px;
  width: 100%;
  font-weight: bold;

}

.card-container2 > p {
  margin: 5px;
  font-weight: bold;
}

.card-container2 > img {
  gap: 15px;
}

@media screen and (max-width: 768px) {
  #missoes {
    width: 85%;
  }

  .card-container2 {
    width: 80%;
  }
}