* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  
}

body {
  background-image: url('./images/background.png');
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.line {
  border: 1px solid white;
  position: relative;
  top: 107px;
  z-index: -1;
}

.card-container {
  z-index: 0;
}

#root {
  height: 100%;
  width: 100%;
}
